ul {
  list-style-type: none;
}
#contenido {
  margin-top: 59px;
}

header {
  background-color: rgb(19, 19, 19);
  color: white;
  top: 0px;
  width: 100%;
  height: 59px;
  position: fixed;
}
header img {
  align-items: center;
  margin: auto;
  margin-left: 30px;
  margin-right: 30px;
}
header ul {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 80px;
  flex: 1;
}
header li,
header a:link,
header a:visited {
  color: white;
  text-decoration: none;
  font-size: large;
  font-family: Poppins;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#principal-izquierda {
  height: 90vh;
  background-color: #761e1e;
  color: white;
  padding-left: 60px;
  padding-top: 10px;
  font-family: Poppins;
  flex: 1;
}
#principal-izquierda * {
  padding-top: 40px;
}
#principal-izquierda img {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 90px;
}
#principal-izquierda h2 {
  margin-top: 0px;
  padding-top: 20px;
  width: 400px;
}
#idiomas {
  min-height: 90vh;
}
#idiomas li:hover {
  box-sizing: border-box;
  font-size: 1.1rem;
  line-height: 1.1rem;
}
#lista_idiomas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

#lista_idiomas li {
  width: 1px;
}
#idiomas li {
  list-style-type: none;
  flex: 1;
}
#destacados {
  margin-top: 5rem;
  box-sizing: border-box;
  text-align: center;
  flex: 2;
}
.galeria {
  padding-left: 10rem;
  padding-right: 10rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-template-rows: auto auto;
  overflow: hidden;
}
.featured {
  grid-column: span 1;
  background-color: #761e1e;
  border-radius: 7%;
  height: 10rem;
}

.flex-container {
  display: flex;
}
.flex-container div {
  flex: 1;
}

footer {
  width: 100%;
  height: 90px;
  background-color: rgb(36, 36, 36);
  align-items: center;
}

footer a,
footer a:link,
footer a:visited {
  color: rgb(187, 187, 187);
  text-decoration: none;
  font-size: large;
  font-family: Poppins;
  font-size: small;
  text-align: center;
}

footer ul {
  margin: auto;
  padding-top: 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  flex: 1;
  margin-left: 160px;
  margin-right: 160px;
}

footer p {
  margin-top: 8px;
  text-align: center;
  color: rgb(187, 187, 187);
}
